@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bbnd4a');
  src:  url('../fonts/icomoon.eot?bbnd4a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bbnd4a') format('truetype'),
    url('../fonts/icomoon.woff?bbnd4a') format('woff'),
    url('../fonts/icomoon.svg?bbnd4a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cicon-"], [class*=" cicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cicon-valve:before {
  content: "\e900";
}
.cicon-cabinet_door:before {
  content: "\e91b";
}
.cicon-windows:before {
  content: "\e91a";
}
.cicon-windows2:before {
  content: "\e919";
}
.cicon-building_emtpy:before {
  content: "\e90a";
}
.cicon-building_full:before {
  content: "\e90b";
}
.cicon-garage_o:before {
  content: "\e908";
}
.cicon-garage_c:before {
  content: "\e909";
}
.cicon-propane_tnk_half:before {
  content: "\e907";
}
.cicon-propane_tnk_full:before {
  content: "\e906";
}
.cicon-doors4:before {
  content: "\e905";
}
.cicon-closed_door:before {
  content: "\1f301";
}
.cicon-opened_door:before {
  content: "\1f300";
}
.cicon-CO2:before {
  content: "\1f302";
}
.cicon-bulb:before {
  content: "\e903";
}
.cicon-droplet:before {
  content: "\e904";
}
.cicon-feed:before {
  content: "\e901";
}
.cicon-fire:before {
  content: "\e902";
}

