<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="WNR UI 2.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>WNR UI 2.0</title>    
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
          <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="WNR UI 2.0">
        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
        <link rel="manifest" href="manifest.json">        
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
        <link rel="shortcut icon" href="icons/favicon-32x32.png">    
        <!-- Styles -->       
        <link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.css">
        <link rel="stylesheet" href="css/roboto.css" type="text/css">
     <!--  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  -->   
        <link rel="stylesheet" href="node_modules/material-design-lite/dist/material.blue-deep_orange.min.css">
        <link rel="stylesheet" href="css/weather-icons.min.css">
        <link rel="stylesheet" href="css/weather-icons-wind.min.css">
        <link rel="stylesheet" type="text/css" href="css/c-ico.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">        
        <link rel="stylesheet" href="css/style.css">  
    </head>
    <body ng-app="WnrUIApp" ng-controller="MainController as vm">
        <div layout-fill  layout="row" style:="overflow:hidden;" ng-cloak>    
            <md-sidenav  md-is-locked-open="$mdMedia('gt-md')" md-component-id="left"
                        class="md-sidenav-left mdl-color--blue-grey-200">
              <md-toolbar  class="md-hue-2 md-whiteframe-z2">
                    <header class="turbop-drawer-header mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
                         <span class="mdl-layout-title" style="letter-spacing: .03em;font-weight: 800;align-self: center;">Wink Node Red UI 2.0</span>
                         <div class="mdl-layout-spacer"></div>    
                         <i class="mdl-color-text--blue-grey-200 material-icons md-48" role="presentation" style="font-size: 48px;align-self: center;">account_circle</i><span style="font-size: 16px;align-self: center;">{{vm.user}}</span>
                    </header>
              </md-toolbar>
                <div  class="turbop-navigation mdl-color--blue-grey-200">
                   <md-button ng-repeat-start="item in vm.menuItems" layout="row" layout-align="start center" 
                             class="capitalize tp-navigation__link" ng-click="vm.selectItem(item)"
                             ui-sref-active="md-warn md-hue2" ui-sref="{{item.sref}}">
                     <!-- <div hide-sm hide-sm class="md-tile-content"> -->
                          <i  class="material-icons md-36" style="font-size: 36px;align-self: center;">{{item.icon}}</i>
                     <!-- </div> -->
                    <!--  <div class="md-tile-content"> -->
                          {{item.name}}
                    <!--  </div> -->
                  </md-button> 
                <md-divider ng-repeat-end></md-divider>                   
                </div>
<!--				<div layout="row" style="position: fixed; left:0; bottom: 0;" layout-align="start center"><i class="material-icons" style="font-size: 12px;">copyright</i><span style="font-size: 12px;" >&nbsp;2016 Tim Fatykhov.&nbsp;</span><a href="https://github.com/tfatykhov/WinkRedNode" target="_blank">WinkRedNode</a></div> -->               
            </md-sidenav>
            <div layout="column" flex>
            <md-toolbar layout="row"  layout-align="end center">
                <md-button hide-gt-md ng-click="vm.toggleItemsList()" aria-label="Menu">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>                
                 <span class="mdl-layout-title" style="padding: 15px;">{{vm.title}}</span>
                <div class="mdl-layout-spacer"></div>
                <md-button hide-sm class="toolbar-button" aria-label="Help" ng-click="vm.showHelp($event)">
                    <md-icon class="material-icons">help</md-icon>
                </md-button>
            </md-toolbar>

            <md-content layout="column"  flex class="page-content">
                <div ui-view></div>
            </md-content>
            </div>
        </div>
        
     	<script type="text/ng-template" id="flow-image.html">
			<md-card ng-controller="UploadController" ng-model="model[options.key]" style="width: 300px;background-color: gainsboro;" flow-init
			  flow-name="pics.flow"
		      flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
		      flow-files-submitted="uploadme($flow,'{{options.templateOptions.path}}')"
			  flow-complete="saveme($flow,'{{options.templateOptions.path}}')">
				<md-card-content>
				<div layout="column" layout-align="center center">
				<h5>{{options.templateOptions.label}}</h5>
				<md-button aria-label="property photo" type="button" name="{{name}}" id="{{id}}" layout="column" type="file" flow-btn flow-attrs="{accept :'image/*',capture:'camera'}">
					<div class="tp-img-preview" ng-hide="$flow.files.length">
						<img  class="tp-img-preview" ng-src="{{getImage(options.templateOptions.path)}}" />
					</div>
					<div class="tp-img-preview" ng-show="$flow.files.length">
						<img class="tp-img-preview" flow-img="$flow.files[0]" />
					</div>		
				</md-button>
				<md-progress-linear ng-show="$flow.files.length" ng-class="($flow.files[0].progress()<1 ? 'md-warn' : 'md-success')" md-mode="determinate" value="{{pics.flow.files[0].progress()*100 || 0}}"></md-progress-linear>
				</div>
				</md-card-content>
			</md-card>
		</script> 
    </body>
    <!-- Application Dependencies -->
    <script src="node_modules/api-check/dist/api-check.min.js"></script>
    <script>
        apiCheck.globalConfig.disabled= true;
    </script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>    
    <script src="node_modules/angular-material/angular-material.min.js"></script>    
    <script src="node_modules/angular-formly/dist/formly.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-formly-material/dist/formly-material.min.js"></script>
    <script src="node_modules/material-design-lite/material.min.js"></script>
    <script src="node_modules/ngstorage/ngStorage.min.js"></script>        
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDW37r8_c9wC_s0iptzekWUvahAU07nl-U&libraries=places"></script>
    <script src="node_modules/ngmap/build/scripts/ng-map.min.js"></script>	  
    <script src="node_modules/angular-websocket/dist/angular-websocket.min.js"></script>    
    <!-- Application Scripts -->
    <script src="app.js"></script>  
    <script src="scripts/MainController.js"></script>
    <script src="scripts/utils.js"></script>
    <script src="scripts/HomeComponents.js"></script>
    <script src="scripts/UserAuth.js"></script>
</html>