<md-dialog aria-label="Address"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Enter address</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon class="material-icons" aria-label="close">highlight_off</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content flex layout-padding>    
		<md-input-container class="md-block" flex-gt-sm>
		  <input style="letter-spacing: .03em;font-weight: 800;" places-auto-complete size=90
		    ng-model="$scope.address"
		    component-restrictions="{country:'us'}"
		    types="['address']"
		    on-place-changed="gMplaceChanged()" />
		</md-input-container>    	  	
	</md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
      <md-button ng-disabled="!$scope.address" ng-click="go()" style="margin-right:20px;">
        Go
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>