<md-bottom-sheet layout="row" ng-cloak>
<div class="search-map md-whiteframe-8dp">
	<md-grid-list  md-cols="12" md-row-height="20px">
		<md-grid-tile  md-rowspan="1" md-colspan="2" class="legend-color-none">
		No Limit
		</md-grid-tile>							
		<md-grid-tile  md-rowspan="1" md-colspan="2" class="legend-color-80">
		80% AMI
		</md-grid-tile>
		<md-grid-tile  md-rowspan="1" md-colspan="2" class="legend-color-100">
		100% AMI
		</md-grid-tile>
		<md-grid-tile  md-rowspan="1" md-colspan="2" class="list-type">
			<img src="images/markers/map-marker-2-32_blue.png" style="height:16px">
			MLS
		</md-grid-tile>
		<md-grid-tile  md-rowspan="1" md-colspan="2" class="list-type">
			<img src="images/markers/map-marker-2-32_purple.png" style="height:16px">
			HomePath
		</md-grid-tile>																					
	</md-grid-list>
</div>	
</md-bottom-sheet>