<md-dialog aria-label="Picture gallery"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Listings settings</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon class="material-icons" aria-label="close">highlight_off</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
		<div class='md-padding' layout="row" layout-wrap>

		</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
       <md-button ng-click="cancel()" style="margin-right:20px;">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>