<md-content ng-cloack flex class="md-padding" layout-fill layout-xs="column" layout="row" layout-wrap layout-align="start center">
    <form>
      <div class="md-dialog-content">
          <md-input-container>
            <label>User Id</label>
            <input ng-model="uid">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input ng-model="pwd" type="password">
          </md-input-container>
      </div>
    </form>
</md-content>