<!--<md-content ng-cloack flex flex-offset-gt-xs=5 layout-xs="column" layout="row" layout-wrap layout-align="start center">-->
<!--<md-content  layout="column" fill style="width:100%;height:100%;">	      -->  
    <ng-map class="fill" id="MapA" 
                            style="height:100%;" 
                            tilt="0"
                            map-initialized = "mapReady(map)"
                            map-type-control = "false"
                            zoom-to-include-markers="true">
    </ng-map>
<!--</md-content>-->