<md-content ng-cloack flex-offset-gt-xs=5 flex layout-padding  layout-xs="column" layout="row" layout-wrap layout-align="start center">
        <md-card layout="column"  md-theme="dark-blue-grey" md-theme-watch style="width: 250px;height: 185px;">
        <md-card-title>
          <md-card-title-text layout-align="space-around stretch">
<!--            <span class="md-subhead">Weather</span>-->
            <span class="md-subhead" style="font-size: 16px;font-weight: 400;" ng-style="{'color': ('{{c.icon_color}}'=='detail-warning' ? 'orange' : '{{c.icon_color}}'=='detail-danger' ? '#E53935' : '#72d572' )}">{{vm.HomeWeather.currently.dual_temp}}</span>
            <span class="md-subhead" style="font-size: 14px;font-weight: 300;" ng-style="{'color': ('{{c.icon_color}}'=='detail-warning' ? 'orange' : '{{c.icon_color}}'=='detail-danger' ? '#E53935' : '#72d572' )}">Humidity: {{vm.HomeWeather.currently.humidity_pct}}</span> 
            <span class="md-subhead" style="font-size: 14px;font-weight: 300;" ng-style="{'color': ('{{c.icon_color}}'=='detail-warning' ? 'orange' : '{{c.icon_color}}'=='detail-danger' ? '#E53935' : '#72d572' )}">Cloud Cover: {{vm.HomeWeather.currently.clouds_pct}}</span>  
            <span ng-show="vm.HomeWeather.currently.uvindex" class="md-subhead" style="font-size: 14px;font-weight: 300;" ng-style="{'color': ('{{c.icon_color}}'=='detail-warning' ? 'orange' : '{{c.icon_color}}'=='detail-danger' ? '#E53935' : '#72d572' )}">UV Index: {{vm.HomeWeather.currently.uvindex}}</span>                
          </md-card-title-text>
          <md-card-title-media>
              <div class="md-media-sm card-media" style="font-size: 5.3em;text-align: end;padding-top: 5px;">
                  <span><i ng-class="'wi wi-large '+vm.HomeWeather.currently.web_icon" style="font-size: 0.9em; color: rgb(228, 193, 89);"></i></span>
              </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="vm.showForecast();">
                Forecast
            </md-button>
        </md-card-actions>       
    </md-card>
    <md-card layout="column"  ng-repeat="c in vm.HomeComponents" md-theme="dark-blue-grey" md-theme-watch style="width: 250px;height: 185px;">
        <md-card-title>
          <md-card-title-text layout="column" layout-align="center center">
<!--            <span class="md-headline">{{c.label}}</span>-->
            <span class="md-headline" style="font-size: 1.3em;font-weight: 400;" ng-style="{'color': ('{{c.icon_color}}'=='detail-warning' ? 'orange' : '{{c.icon_color}}'=='detail-danger' ? '#E53935' : '#72d572' )}">{{c.value}}</span>
          </md-card-title-text>
          <md-card-title-media>
              <div class="md-media-sm card-media" style="font-size: 5.3em;text-align: end; padding-right: 10px;padding-top: 5px;"><span><i ng-class="c.icon" ng-style="{'color': ('{{c.icon_color}}'=='detail-warning' ? 'orange' : '{{c.icon_color}}'=='detail-danger' ? '#E53935' : '#72d572' )}"></i></span></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="vm.ShowModal(c.label,c.type,c.group_names[0],c.group_option);">
                Details
            </md-button>
        </md-card-actions>       
    </md-card>
</md-content> 